<section>

  <h1>HIPO Test</h1>
  <hr style="border: solid 1px red;">
  <h2> 조작 </h2>
  <hr style="border: solid 1px blue;">

	<form class="form-horizontal">
	  <div class="form-group">
		<label for="forward_time"
		       class="col-sm-3
			   control-label">정방향 시간주기/반복수</label>
		<div class="col-sm-2">
		  <input type="text"
		         class="form-control"
				 id="forward_time"
				 ng-model="forward_time">
		</div>
		<div class="col-sm-2">
		  <input type="text"
		         class="form-control"
				 ng-model="forward_count"
				 id="forward_count">
		</div>
		<div class="col-sm-2">
		  <button type="button" class="btn btn-primary"
				  ng-click="goForward()">정방향 펄스 발생</button>
		</div>
	  </div>
	</form>
	<form class="form-horizontal">
	  <div class="form-group">
		<label for="backward_time"
		       class="col-sm-3
			   control-label">역방향 시간주기/반복수</label>
		<div class="col-sm-2">
		  <input type="text"
		         class="form-control"
				 id="backward_time"
				 ng-model="backward_time">
		</div>
		<div class="col-sm-2">
		  <input type="text"
		         class="form-control"
				 ng-model="backward_count"
				 id="backward_count">
		</div>
		<div class="col-sm-2">
		  <button type="button" class="btn btn-primary"
				  ng-click="goBackward()">역방향 펄스 발생</button>
		</div>
	  </div>
	</form>

	<form class="form-horizontal">
	  <div class="form-group">
		<div class="col-sm-offset-3 col-sm-6">
		  <button type="button" class="btn btn-primary col-sm-12"
		          ng-click="goStop()">펄 스 중 지</button>
		</div>
	  </div>
	</form>

  <hr style="border: solid 1px black;">
  <h2> 상태 </h2>
  <hr style="border: solid 1px blue;">

  <form class="form-horizontal">
    <div class="form-group">
      <label for="forward_rest_time"
             class="col-sm-3
             control-label">정방향 잔여 처리수</label>
      <div class="col-sm-2">
        <input type="text"
               class="form-control"
               ng-model="forward_rest_count"
               id="forward_rest_count">
      </div>
      <div class="col-sm-7">
          <uib-progressbar class="progress-striped active"
                        ng-model=""
                        max="forward_count"
                        value="forward_rest_count"
                        type="success">
                        <i>{{forward_rest_count}}/{{forward_count}}</i>
          </uib-progressbar>
      </div>
    </div>
  </form>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="backward_rest_time"
             class="col-sm-3
             control-label">역방향 잔여 처리수</label>
      <div class="col-sm-2">
        <input type="text"
               class="form-control"
               ng-model="backward_rest_count"
               id="backward_rest_count">
      </div>
      <div class="col-sm-7">
          <uib-progressbar class="progress-striped active"
                        max="backward_count"
                        value="backward_rest_count"
                        >
                        <i>{{backward_rest_count}}/{{backward_count}}</i>
          </uib-progressbar>
      </div>
    </div>
  </form>
  <hr style="border: solid 1px red;">
<!--

  <button type="button" ng-click="syncLength()">Test</button>

  <div ng-repeat="item in datas" class="tranlator_div">

	<div class="eng_div" >
    <ng-repeat ng-repeat="word in item.words">
		<span  class="eng_n_span" >{{word.eng}}</span>
		<span  class="eng_s_span" > </span>
	</ng-repeat>
	</div>

	<div class="kor_div" >
    <ng-repeat ng-repeat="word in item.words">
		<span  class="kor_n_span" >{{word.kor}}</span>
		<span  class="kor_s_span" > </span>
	</ng-repeat>
	</div>

	<div class="edit_div">
		<input class="edit_text" type="text" ng-model="item.edit">
	</div>

  </div>
-->

</section>
